body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url("../Pictures/1000_F_263916530_LxHmbQhIf1QV3APt1tgqSNthRdl5PVJa.jpg");
}

h1 {
    display: inline;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: monospace;
    font-style: oblique;
    font-weight: bold;
    background-color: #fff7d7;
    color: olive;
    border: 2px solid #4e8f00;
    padding: 5px 10px;
    border-radius: 10px;
}

span, h3 {
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: monospace;
    font-style: oblique;
    background-color: #fff7d7;
    color: olive;
    border: 2px solid #4e8f00;
    padding: 5px 10px;
    border-radius: 10px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.prodotto {
    max-width: 300px;
    background-color: rgba(255, 247, 215, 0.8); /* Colore di sfondo coerente con trasparenza */
    border: 2px solid #4e8f00; /* Bordo coerente */
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Per centrare il contenuto */
}

.prodotto-info {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}

.prodotto-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Altezza fissa per centrare verticalmente */
    margin-bottom: 10px;
}

.immagineProd {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-container {
    display: flex;
    margin-top: 10px;
    text-align: center;
}

.aggiungi,
.mostra {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

.aggiungi button,
.mostra button {
    padding: 8px 16px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.aggiungi button {
    background-color: #4CAF50;
}

.aggiungi button:hover {
    background-color: #45a049;
}

.mostra button {
    background-color: blue;
}

.mostra button:hover {
    background-color: #0000aa;
}

.form {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.form_content {
    background-color: rgba(212, 251, 120, 0.6);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #000;
}

.form_content label {
    display: block;
    margin-bottom: 10px;
}

.form_content input[type="number"],
.form_content input[type="text"] {
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 2px solid #4e8f00;
    background-color: #fff7d7;
    border-radius: 10px;
    font-family: monospace;
    font-style: oblique;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    color: olive;
}

.form_content select {
    display: block-inline;
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 2px solid #4e8f00;
    background-color: #fff7d7;
    border-radius: 10px;
    font-family: monospace;
    font-style: oblique;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    color: olive;
}

.form_content button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form_content button:hover {
    background-color: #45a049;
}
