@charset "UTF-8";
/* Orders.css */
.container {
    margin-top: 40px;
    width: 70%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display:flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
/* Impostazioni generali della tabella */
table {
	
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Stili per intestazioni e celle */
th, td {
    border: 1px solid #4e8f00; /* Bordo della tabella */
    padding: 10px; /* Spaziatura interna */
    text-align: left; /* Allineamento del testo */
}

/* Stili per l'intestazione della tabella */
th {
    background-color: #f0f0f0; /* Colore di sfondo */
    color: #4e8f00; /* Colore del testo */
}

/* Stili per le celle della tabella */
td {
    background-color: rgba(255, 255, 255, 0.9); /* Colore di sfondo */
}
.prezzo{
	width:15%;
}
.aggiunte {
    display: flex;
    flex-wrap: wrap; /* Per far andare a capo gli elementi su schermi stretti */
    justify-content: space-between; /* Spaziatura tra i due div */
    margin-top: 20px;
}

#Userdate-form{
	display:block;
	margin-top:40px;
	 margin-bottom: 10px; /* Spazio inferiore tra i due div */
    border: 2px solid #fefb00;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}



.date-form {
    flex: 0 0 48%; /* Larghezza dei due div, con margine tra loro */
    margin-bottom: 10px; /* Spazio inferiore tra i due div */
    border: 2px solid #fefb00;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.riepilogo {
    flex: 0 3px 25%; /* Larghezza dei due div, con margine tra loro */
margin-right:50px;;
    border: 2px solid #fefb00;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Regolazioni responsive */
@media screen and (max-width: 900px) {
    .date-form, .riepilogo {
        flex: 0 0 100%; /* Occupano tutta la larghezza quando lo schermo è stretto */
        margin-right: 0; /* Rimuove il margine destro */
    }
}
