/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Pictures/1000_F_263916530_LxHmbQhIf1QV3APt1tgqSNthRdl5PVJa.jpg");
    background-size: cover;
    background-position: center;
}

.container {
	margin-top:30px;
    width: 70%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    display: inline;
    font-family: monospace;
    font-style: oblique;
    font-weight: bold;
    background-color: #fff7d7;
    color: olive;
    border: 2px solid #4e8f00;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 20px;
}

label {
	margin-top:20px;
    display: block;
    margin-bottom: 10px;
    color: #4e8f00;
}

input[type="number"],
select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    width: 12%;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.product-details {
	    margin-top: 30px;
	
    margin-bottom: 30px;
}

.product-details img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.form_content {
    margin-top: 20px;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin-top: 20px;
    }
}
