/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    background-image: url("../Pictures/1000_F_263916530_LxHmbQhIf1QV3APt1tgqSNthRdl5PVJa.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
	margin-top:60px;
    width: 70%; /* Occupare il 90% della larghezza disponibile */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra il contenuto */
}

h2 {
    display: inline;
    font-family: monospace;
    font-style: oblique;
    font-weight: bold;
    background-color: #fff7d7;
    color: olive;
    border: 2px solid #4e8f00;
    padding: 5px 10px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
	margin-top:10px;
    margin-bottom: 10px;
    color: #4e8f00;
}

input, button {
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em; /* Dimensione del testo nei campi di input */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}


/*PER ACCOUNT.JSP*/
input[readonly] {
    background-color: #f0f0f0; /* Colore di sfondo più chiaro per readonly */
    color: #999; /* Testo più chiaro per readonly */
    border: 2px solid #ccc; /* Bordo leggero per readonly */
    text-align:center;
}

input.editable {
    background-color: white; /* Colore di sfondo normale per modifica */
    color: #333; /* Testo più scuro per modifica */
    border: 4px double green; /* Bordo visibile per modifica */
}

.buttons{
	display:inline;
	
}


/*PER FORM DI AGGIUNTA PRODOTTI*/
.form-group-inline {
	margin-top:20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group-inline label {
    margin-right: 10px;
    margin-bottom: 0;
}

.form-group-inline input {
    flex: 1;
    margin-top:10px;
}

input[type="number"] {
    width: 10%;
    height:auto;
    flex: none;
}



/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .container {
        width: 100%; /* Occupa il 100% della larghezza disponibile */
        margin-top: 20px; /* Spazio per l'header */
    }
}
